[build]
command = "npm run build"
publish = "dist"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[context.production.environment]
VITE_ENV = "production"

[context.develop.environment]
VITE_ENV = "staging"
